// Breakpoint function to call a screen size based on minimum width
$screen-map: (
  xs: '280',
  sm: '570',
  md: '800',
  lg: '960',
  xl: '1280',
  xxl: '1440'
);

@mixin breakpoint($size: '', $pixel-ratio: 1) {

  @if $size != '' and $pixel-ratio > 1 {

    @media (min-width: map-get($screen-map, $size)) and (-webkit-min-device-pixel-ratio: #{$pixel-ratio}),
     (min-width: map-get($screen-map, $size)) and (min-device-pixel-ratio: #{$pixel-ratio}) {
      @content;
    }

  } @else if $size == '' and $pixel-ratio > 1 {
    @media (-webkit-min-device-pixel-ratio: #{$pixel-ratio}), (min-device-pixel-ratio: #{$pixel-ratio}) {
      @content;
    }
  } @else if($size != '') {
    @media (min-width: map-get($screen-map, $size)) {
      @content;
    }
  } @else {
    @content;
  }

}
